{% extends 'base.html' %}

{% block content %}

<h1 class="headings">Welcome new user!</h1>
<h1 class="headings">Sign Up</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ form.username.label }}
            {{ form.username(class='form-control', placeholder='Username') }}
        </fieldset>
        <fieldset>
            {{ form.email.label }}
            {{ form.email(class='form-control', placeholder='Email') }}
        </fieldset>
        <fieldset>
            {{ form.password.label }}
            {{ form.password(class='form-control', placeholder='Password') }}
        </fieldset>
        <fieldset>
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}
        </fieldset>
        <fieldset>
            {{ form.first_name.label }}
            {{ form.first_name(class='form-control', placeholder='First Name') }}
        </fieldset>
        <fieldset>
            {{ form.last_name.label }}
            {{ form.last_name(class='form-control', placeholder='Last Name') }}
        </fieldset>
        <br>
        <div class="submit-button">
            {{ form.submit(class='btn btn-primary submit-button btns')}}
        </div>
        <hr>
        <h4 class="headings">Already have an account?</h4>
        <div class="btn btn-primary btns">
            <a href="{{ url_for('auth.logIn') }}">Log In</a>
        </div>
    </div>
</form>

{% endblock content %}