{% extends 'base.html' %}

{% block content %}
<h2 class="headings">Add a new customer</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ form.name.label }}
            {{ form.name(class='form-control', placeholder='Name') }}
        </fieldset>
        <fieldset>
            {{ form.address.label }}
            {{ form.address(class='form-control', placeholder='Address', cols='25', rows='3') }}
        </fieldset>
        <fieldset>
            {{ form.email.label }}
            {{ form.email(class='form-control', placeholder='Email') }}
        </fieldset>
        <br>
        <div>
            {{ form.submit(class='btn btn-primary submit-button')}}
            <div class="btn btn-primary btns">
                <a href="{{ url_for('logs.userLogs') }}">Go Back</a>
            </div>
        </div>
        
    </div>
</form>

{% endblock content %}