{% extends 'base.html' %}

{% block content %}
<div class="card customer-card">
    <div class="card-body">
        <h4 class="card-title">{{ customer.name }}</h4>
        <p class="card-text">{{ customer.address }}</p>
        <p class="card-text">{{ customer.email }}</p>
    </div>
</div>


{% if customer.user_id == current_user.id %}
<div>
    <div class="info-buttons">
        <a href="{{ url_for('logs.createLog', customer_id=customer.id )}}" type="button" class="btn btn-primary btns info-buttons">Create New Service Log</a>
    </div>
    <div class="info-buttons">
        <a href="{{ url_for('logs.updateCustomer', customer_id=customer.id )}}" type="button" class="btn btn-warning btns info-buttons">Update Customer Info</a>
    </div>

    <!-- Button trigger modal -->
    <div class="info-buttons">
        <button type="button" class="btn btn-danger btns" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete Customer
        </button>
    </div>
    
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this customer?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Warning. This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{{ url_for('logs.deleteCustomer', customer_id=customer.id) }}" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

{% for report in reports %}
    <a href="{{ url_for('logs.logInfo', log_id=report.id) }}" class="card customer-card">
        <div class="card-body">
            <h4 class="card-title">{{ report.date_created.strftime('%m-%d-%Y  %H:%M') }}</h4>
            <p class="card-text">{{ report.work_performed }}</p>
        </div>
    </a>
    <hr>
{% endfor %}

<div class="info-buttons">
    <a href="{{ url_for('logs.userLogs' )}}" type="button" class="btn btn-primary btns info-buttons">Go Back</a>
</div>


{% endif %}

{% endblock content %}