{% extends 'base.html' %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ form.name.label }}
            {{ form.name(class='form-control', placeholder='Name', value=customer.name) }}
        </fieldset>
        <fieldset>
            {{ form.address.label }}
            {% set f = form.address.process_data(customer.address) %}
            {{ form.address(class='form-control', cols='25', rows='3') }}
        </fieldset>
        <fieldset>
            {{ form.email.label }}
            {{ form.email(class='form-control', placeholder='Email', value=customer.email) }}
        </fieldset>
        <div class="btns">
            {{ form.submit(class='btn btn-primary submit-button')}}
            <div class="btn btn-primary btns">
                <a href="{{ url_for('logs.customerInfo', customer_id=customer_id) }}">Go Back</a>
            </div>
        </div>
    </div>
</form>

{% endblock content %}